.app {
  height: 100%;
  background-color: lightgray;
}

.app-header {
  background-color: lightblue;
  padding: 10px;
  text-align: center;
}

.chat-message-list {
  text-align: left;
  overflow: scroll;
  height: 90%;
  background-color: white;
}

.chat-message {
  margin: 15px;
}

.sender {
  color: gray;
}

.date {
  color: gray;
}

.message-text {
  font-weight: bold;
  font-size: 1.2em;
}

.message-form-container {
  text-align: center;
  padding: 25px;
  background-color: lightgray;
}

.message-textbox {
  display: inline-block;
  width: 90%;
  display: inline;
}

.message-button {
  text-align: center;
  padding-right: 2%;
  margin-top: 3px;
  float: right;
  font-weight: bold;
  font-size: 1.2em;
  border: none;
  background-color: lightgray;
}
